{% extends 'base.html' %}
{% block title %}权限列表{% endblock %}
{% block bodytitle %}
    <span class="glyphicon glyphicon-list">权限列表</span>

{% endblock %}
{% block content %}
                                  <ul id="sortable" class="list-group">
                                      {% for auth in auths %}
                                      <li class="list-group-item">
                                          <div class="task-title">
                                              <span class="task-title-sp">{{ auth.name }}</span>
                                              <span class="badge bg-theme">{{ auth.url }}</span>
                                              <div class="pull-right">
{#                                                  <button class="btn btn-success btn-xs fa fa-check"></button>#}
                                                  <a href="{% url 'auth_edit' auth.id %}" class="btn btn-primary btn-xs ">编辑</a>
                                                  <a href="{% url 'auth_delete' auth.id%}" class="btn btn-danger btn-xs " onclick="ensure()">删除</a>
                                              </div>
                                          </div>
                                      </li>
                                      {% endfor %}



                                  </ul>

    <script type="text/javascript">
        function ensure() {
                if(confirm("确定删除吗")){
                    alert("删除成功");
                    return true;
                }
                return false;
        }

   </script>
{% endblock %}
{% block page %}
        <div class="col-lg-offset-2">
                            <nav aria-label="Page navigation">
                  <ul class="pagination">
                      {% if authsPageObj.has_previous %}
                    <li >
                      <a href="{% url 'auth_list' %}?page={{ authsPageObj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% endif %}

                      {% for page in authsPageObj.paginator.page_range %}
                          {% if page == authsPageObj.number %}
                          <li class="active"><a href="{% url 'auth_list' %}?page={{ page }}">{{ page}}</a></li>
                          {% else %}
                          <li><a href="{% url 'auth_list' %}?page={{ page }}">{{ page}}</a></li>
                          {% endif %}
                      {% endfor %}

                    {% if authsPageObj.has_next %}
                    <li>
                      <a href="{% url 'auth_list' %}?page={{ authsPageObj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
        </div>
{% endblock %}